/archive/**
/code/blink_admin_site/**
/code/lambda_package_store/**
/dev notebooks/**
/presentations/**

.ipynb_notebooks/**

code/browse_admin_site/.env

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml
**/.idea/**
